<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

		<div class="container">

			<div class="row">
				<div class="onecol">
					<h1>Compare rows</h1>
				</div>
			</div>

		
			<div class="row">
				<div class="twocols">
					<textarea id="text1">Knölsvan	1
Sångsvan	2
Bläsgås	3
Grågås	4
Prutgås	5
</textarea>

				</div>
				<div class="twocols">

					<textarea id="text2">Havssula	10
Storskarv	20
Gråhäger	30
Knölsvan	40
Sångsvan	50
Bläsgås	60
Grågås	70
Kanadagås	80
</textarea>
					
				</div>
				
			</div>
			
			<div class="row">
				<div class="onecol">
					<section>
						<button id="clean-button">Clean</button>
						<button id="compare-button">Compare</button>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="twocols">
					<section id="text1section"></section>
				</div>
				<div class="twocols">
					<section id="text2section"></section>
				</div>
				<div class="onecol">
					<section id="equalsection"></section>
				</div>
			</div>

			
			
		</div>

		<script type="text/template" id="rows-template">
		<h2><%= headline %></h2>
		<pre><% _.each(rows, function(str) { %><%= str + '\n' %><% }); %></pre>
		</script>
		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
        <script src="bower_components/underscore/underscore.js"></script>
		
        <script src="js/main.js"></script>
    </body>
</html>