<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

		<div class="container">

			<div class="row">
				<div class="onecol">
					<h1>Compare rows</h1>
				</div>
			</div>

		
			<div class="row">
				<div class="twocols">
					<textarea id="text1">Knölsvan
Sångsvan
Bläsgås
Grågås
Prutgås
Vitkindad gås
Kanadagås
Gravand
Bläsand
Snatterand
Kricka
Gräsand
Stjärtand
Skedand
Brunand
Vigg
Bergand
Ejder
Alförrädare
Alfågel
Sjöorre
Svärta
Knipa
Småskrake
Storskrake
Rapphöna
Fasan
Smålom
Storlom
Smådopping
Skäggdopping
Gråhakedopping
Svarthakedopping
Stormfågel
Havssula
Storskarv
Toppskarv
Gråhäger
Röd glada
Havsörn
Blå kärrhök
Duvhök
Sparvhök
Ormvråk
Kungsörn
Tornfalk
Pilgrimsfalk
Vattenrall
Rörhöna
Sothöna
Trana
Strandskata
Skärfläcka
Ljungpipare
Tofsvipa
Kustsnäppa
Skärsnäppa
Kärrsnäppa
Enkelbeckasin
Morkulla
Myrspov
Storspov
Skogssnäppa
Rödbena
Roskarl
Storlabb
Dvärgmås
Skrattmås
Fiskmås
Silltrut
Gråtrut
Vittrut
Havstrut
Tretåig mås
Sillgrissla
Tordmule
Tobisgrissla
Lunnefågel
Tamduva
Skogsduva
Ringduva
Turkduva
Berguv
Kattuggla
Jorduggla
Kungsfiskare
Gröngöling
Spillkråka
Större hackspett
Mindre hackspett
Trädlärka
Sånglärka
Ängspiplärka
Skärpiplärka
Forsärla
Sädesärla
Strömstare
Gärdsmyg
Järnsparv
Rödhake
Svart rödstjärt
Svarthakad buskskvätta
Koltrast
Björktrast
Taltrast
Rödvingetrast
Dubbeltrast
Svarthätta
Gransångare
Kungsfågel
Skäggmes
Stjärtmes
Entita
Talltita
Tofsmes
Svartmes
Blåmes
Talgoxe
Nötväcka
Trädkrypare
Varfågel
Nötskrika
Skata
Nötkråka
Kaja
Råka
Kråka
Korp
Stare
Gråsparv
Pilfink
Bofink
Bergfink
Grönfink
Steglits
Grönsiska
Hämpling
Gråsiska
Mindre korsnäbb
Domherre
Stenknäck
Gulsparv
Sävsparv

</textarea>

				</div>
				<div class="twocols">

					<textarea id="text2">Smålom
Storlom
Smådopping
Skäggdopping
Gråhakedopping
Svarthakedopping
Stormfågel
Havssula
Storskarv
Gråhäger
Knölsvan
Sångsvan
Bläsgås
Grågås
Kanadagås
Vitkindad gås
Prutgås
Gravand
Bläsand
Snatterand
Kricka
Gräsand
Stjärtand
Brunand
Vigg
Bergand
Ejder
Alförrädare
Alfågel
Sjöorre
Svärta
Knipa
Småskrake
Storskrake
Röd glada
Havsörn
Blå kärrhök
Duvhök
Sparvhök
Ormvråk
Kungsörn
Tornfalk
Pilgrimsfalk
Rapphöna
Fasan
Rörhöna
Sothöna
Strandskata
Ljungpipare
Tofsvipa
Kustsnäppa
Kärrsnäppa
Enkelbeckasin
Morkulla
Storspov
Rödbena
Roskarl
Dvärgmås
Skrattmås
Fiskmås
Silltrut
Gråtrut
Vittrut
Havstrut
Tretåig mås
Sillgrissla
Tordmule
Tobisgrissla
Tamduva
Skogsduva
Ringduva
Turkduva
Berguv
Jorduggla
Gröngöling
Spillkråka
Större hackspett
Trädlärka
Sånglärka
Ängspiplärka
Skärpiplärka
Forsärla
Sädesärla
Strömstare
Gärdsmyg
Järnsparv
Rödhake
Svart rödstjärt
Svarthakad buskskvätta
Koltrast
Björktrast
Taltrast
Rödvingetrast
Dubbeltrast
Svarthätta
Gransångare
Kungsfågel
Skäggmes
Stjärtmes
Entita
Talltita
Tofsmes
Svartmes
Blåmes
Talgoxe
Nötväcka
Trädkrypare
Varfågel
Nötskrika
Skata
Nötkråka
Kaja
Råka
Kråka
Korp
Stare
Gråsparv
Pilfink
Bofink
Bergfink
Grönfink
Steglits
Grönsiska
Hämpling
Gråsiska
Mindre korsnäbb
Domherre
Stenknäck
Gulsparv
Sävsparv
</textarea>
					
				</div>
				
			</div>
			
			<div class="row">
				<div class="onecol">
					<section>
						<button id="clean-button">Clean</button>
						<button id="compare-button">Compare</button>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="twocols">
					<section id="text1section"></section>
				</div>
				<div class="twocols">
					<section id="text2section"></section>
				</div>
				<div class="onecol">
					<section id="equalsection"></section>
				</div>
			</div>

			
			
		</div>

		<script type="text/template" id="rows-template">
		<h2><%= headline %></h2>
		<ul>
		<% _.each(rows, function(str) { %> 
			<li><%= str %></li>
		<% }); %>
		</ul>
		</script>
		
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
        <script src="bower_components/underscore/underscore.js"></script>
		
        <script src="js/main.js"></script>
    </body>
</html>