<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

		<div class="container">

			<div class="row">
				<div class="onecol">
					<h1>Compare rows</h1>
				</div>
			</div>

		
			<div class="row">
				<div class="twocols">
					<textarea id="text1">1  	Knölsvan
2  	Mindre sångsvan
3  	Sångsvan
4  	Sädgås
5  	Spetsbergsgås
6  	Bläsgås
7  	Fjällgås
8  	Grågås
9  	Prutgås
10  	Vitkindad gås
11  	Kanadagås
12  	Rödhalsad gås
13  	Nilgås
14  	Gravand
15  	Bläsand
16  	Snatterand
17  	Kricka
18  	Gräsand
19  	Stjärtand
20  	Skedand
21  	Rödhuvad dykand
22  	Brunand
23  	Ringand
24  	Vitögd dykand
25  	Vigg
26  	Bergand
27  	Ejder
28  	Alförrädare
29  	Alfågel
30  	Sjöorre
31  	Svärta
32  	Knipa
33  	Salskrake
34  	Småskrake
35  	Storskrake
36  	Järpe
37  	Dalripa
38  	Fjällripa
39  	Orre
40  	Tjäder
41  	Rapphöna
42  	Fasan
43  	Smålom
44  	Storlom
45  	Svartnäbbad islom
46  	Vitnäbbad islom
47  	Smådopping
48  	Skäggdopping
49  	Gråhakedopping
50  	Svarthakedopping
51  	Svarthalsad dopping
52  	Stormfågel
53  	Grålira
54  	Klykstjärtad stormsvala
55  	Havssula
56  	Storskarv
57  	Toppskarv
58  	Rördrom
59  	Natthäger
60  	Ägretthäger
61  	Gråhäger
62  	Vit stork
63  	Brun glada
64  	Röd glada
65  	Havsörn
66  	Brun kärrhök
67  	Blå kärrhök
68  	Duvhök
69  	Sparvhök
70  	Ormvråk
71  	Fjällvråk
72  	Större skrikörn
73  	Kungsörn
74  	Stäppörn
75  	KEJSARÖRN
76  	Tornfalk
77  	Stenfalk
78  	Jaktfalk
79  	Pilgrimsfalk
80  	Vattenrall
81  	Rörhöna
82  	Sothöna
83  	Trana
84  	Strandskata
85  	Skärfläcka
86  	Större strandpipare
87  	Ljungpipare
88  	Kustpipare
89  	Tofsvipa
90  	Kustsnäppa
91  	Sandlöpare
92  	Skärsnäppa
93  	Kärrsnäppa
94  	Dvärgbeckasin
95  	Enkelbeckasin
96  	Morkulla
97  	Rödspov
98  	Myrspov
99  	Storspov
100  	Drillsnäppa
101  	Skogssnäppa
102  	Svartsnäppa
103  	Rödbena
104  	Roskarl
105  	Brednäbbad simsnäppa
106  	Bredstjärtad labb
107  	Storlabb
108  	SVARTHUVAD TRUT
109  	Svarthuvad mås
110  	Dvärgmås
111  	Skrattmås
112  	Fiskmås
113  	Silltrut
114  	Gråtrut
115  	Kaspisk trut
116  	Medelhavstrut
117  	Vitvingad trut
118  	Vittrut
119  	Havstrut
120  	ROSENMÅS
121  	Tretåig mås
122  	ISMÅS
123  	Kentsk tärna
124  	Sillgrissla
125  	Tordmule
126  	Tobisgrissla
127  	Alkekung
128  	Lunnefågel
129  	Tamduva
130  	Skogsduva
131  	Ringduva
132  	Turkduva
133  	Turturduva
134  	STÖRRE TURTURDUVA
135  	Tornuggla
136  	Berguv
137  	Fjälluggla
138  	Hökuggla
139  	Sparvuggla
140  	Kattuggla
141  	Slaguggla
142  	Lappuggla
143  	Hornuggla
144  	Jorduggla
145  	Pärluggla
146  	Kungsfiskare
147  	Härfågel
148  	Gråspett
149  	Gröngöling
150  	Spillkråka
151  	Större hackspett
152  	Vitryggig hackspett
153  	Mindre hackspett
154  	Tretåig hackspett
155  	KALANDERLÄRKA
156  	ASIATISK KALANDERLÄRKA
157  	Korttålärka
158  	Tofslärka
159  	Trädlärka
160  	Sånglärka
161  	Berglärka
162  	Större piplärka
163  	MONGOLPIPLÄRKA
164  	Ängspiplärka
165  	Rödstrupig piplärka
166  	Skärpiplärka
167  	Vattenpiplärka
168  	HEDPIPLÄRKA
169  	Gulärla
170  	Forsärla
171  	Sädesärla
172  	Sidensvans
173  	Strömstare
174  	Gärdsmyg
175  	Järnsparv
176  	Rödhake
177  	Blåstjärt
178  	Svart rödstjärt
179  	Buskskvätta
180  	Svarthakad buskskvätta
181  	Vitgumpad buskskvätta
182  	Stenskvätta
183  	NUNNESTENSKVÄTTA
184  	Ökenstenskvätta
185  	Ringtrast
186  	Koltrast
187  	BRUNTRAST
188  	SVARTHALSAD TRAST
189  	Björktrast
190  	Taltrast
191  	Rödvingetrast
192  	Dubbeltrast
193  	Ärtsångare
194  	Svarthätta
195  	Kungsfågelsångare
196  	Bergstaigasångare
197  	Brunsångare
198  	Gransångare
199  	Lövsångare
200  	Kungsfågel
201  	Brandkronad kungsfågel
202  	Skäggmes
203  	Stjärtmes
204  	Entita
205  	Talltita
206  	Lappmes
207  	Tofsmes
208  	Svartmes
209  	Blåmes
210  	Talgoxe
211  	Nötväcka
212  	Trädkrypare
213  	Trädgårdsträdkrypare
214  	Varfågel
215  	Nötskrika
216  	Lavskrika
217  	Skata
218  	Nötkråka
219  	Kaja
220  	Råka
221  	Kråka
222  	Korp
223  	Stare
224  	Gråsparv
225  	Pilfink
226  	Bofink
227  	Bergfink
228  	Gulhämpling
229  	Grönfink
230  	Steglits
231  	Grönsiska
232  	Hämpling
233  	Vinterhämpling
234  	Gråsiska
235  	Snösiska
236  	Bändelkorsnäbb
237  	Mindre korsnäbb
238  	Större korsnäbb
239  	Tallbit
240  	Domherre
241  	Stenknäck
242  	Lappsparv
243  	Snösparv
244  	Tallsparv
245  	Gulsparv
246  	GULBRYNAD SPARV
247  	Dvärgsparv
248  	Sävsparv
249  	Kornsparv</textarea>

					<section id="text1section">
					</section>
				</div>
				<div class="twocols">

					<textarea id="text2">Bändelkorsnäbb
Havsörn
Gräsand
Knipa
Småskrake
Knölsvan
Sångsvan
Skrattmås
Fiskmås
Gråtrut
Havstrut
Ringduva
Gröngöling
Större hackspett
Koltrast
Blåmes
Talgoxe
Skata
Kaja
Kråka
Gråsparv
Pilfink
Grönfink
Kungsfågel
Björktrast
Sidensvans
Tamduva
Sillgrissla
Vitvingad trut
Gråhäger
Kanadagås
Storskarv
Storskrake
Ejder
Ormvråk
Sparvhök
Nötväcka
Entita
Sothöna
Fasan
Blå kärrhök
Tornfalk
Sädgås
Trädkrypare
Korp
Varfågel
Strömstare
Gärdsmyg
Rödhake
Domherre
Gulsparv
Gravand
Bläsand
Kungsörn
Vigg
Bergand
Salskrake
Sjöorre
Svärta
Vittrut
Stare
Bergfink
Alkekung
Brunand
Fjällvråk
Berguv
Tofsvipa
Strandskata
Kärrsnäppa
Tretåig mås
Duvhök
Nötskrika
Skärpiplärka
Snösparv
Vinterhämpling
Grönsiska
Rörhöna
Turkduva
Fjälluggla
Pilgrimsfalk
Ringand
Grågås
Kricka
Skäggdopping
Bofink
Råka
Ängspiplärka
Stenknäck
Sävsparv
Kornsparv
Svartmes
Rödvingetrast
Dubbeltrast
Talltita
Tofsmes
Steglits
Smådopping
Bläsgås
Hökuggla
Dvärgbeckasin
Enkelbeckasin
Skärsnäppa
Gråhakedopping
Smålom
Alfågel
Havssula
Tobisgrissla
Dvärgmås
Kungsfiskare
Storspov
Spetsbergsgås
Mindre sångsvan
Skäggmes
Stjärtmes
Sånglärka
Berglärka
Rosenmås
Tordmule
Prutgås
Rödhuvad dykand
Röd glada
Kattuggla
Rapphöna
Vitkindad gås
Snatterand
Gråsiska
Järnsparv
Mindre korsnäbb
Vitryggig hackspett
Stjärtand
Svartnäbbad islom
Skogsduva
Stormfågel
Turturduva
Rödbena
Snösiska
Sädesärla
Forsärla
Vattenpiplärka
Dvärgsparv
Vit stork
Svarthuvad mås
Vattenrall
Svarthakedopping
Morkulla
Jaktfalk
Toppskarv
Större turturduva
Tallsparv
Gransångare
Kustsnäppa
Spillkråka
Rördrom
Nötkråka
Lappsparv
Hornuggla
Tjäder
Svarthätta
Orre
Järpe
Mindre hackspett
Tornuggla
Stäppörn
Svart rödstjärt
Större korsnäbb
Hedpiplärka
Trädlärka
Jorduggla
Storlom
Grålira
Alförrädare
Lunnefågel
Svarthakad buskskvätta
Kaspisk trut
Myrspov
Skogssnäppa
Skedand
Rödhalsad gås
Taltrast
Silltrut
Brun glada
Ökenstenskvätta
Ärtsångare
Vitnäbbad islom
Roskarl
Pärluggla
Gulhämpling
Tallbit
Hämpling
Brandkronad kungsfågel
Större strandpipare
Sparvuggla
Asiatisk kalanderlärka
Sandlöpare
Kustpipare
Fjällgås
Bredstjärtad labb
Större piplärka
Lappmes
Lavskrika
Dalripa
Fjällripa
Gråspett
Klykstjärtad stormsvala
Kalanderlärka
Korttålärka
Rödstrupig piplärka
Taigatrast
Ringtrast
Härfågel
Större skrikörn
Tofslärka
Ljungpipare
Storlabb
Nunnestenskvätta
Medelhavstrut
Drillsnäppa
Ismås
Buskskvätta
Gulärla
Kejsarörn
Trana
Trädgårdsträdkrypare
Natthäger
Kungsfågelsångare
Mongolpiplärka
Stenskvätta
Tretåig hackspett
Bergstaigasångare
Brednäbbad simsnäppa
Rödspov
Nilgås
Stenfalk
Gulbrynad sparv
Svarthalsad dopping
Kentsk tärna</textarea>
					<section id="text2section">
					</section>
					
				</div>
				
			</div>
			
			<div class="row">
				<div class="onecol">
					<section>
						<button id="clean-button">Clean</button>
						<button id="compare-button">Compare</button>
					</section>
				</div>
			</div>
			
			
		</div>

		<script type="text/template" id="missing-template">
		<h2>Missing</h2>
		<ul>
		<% _.each(missing, function(str) { %> 
			<li><%= str %></li>
		<% }); %>
		</ul>
		</script>
		
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
        <script src="bower_components/underscore/underscore.js"></script>
		
        <script src="js/main.js"></script>
    </body>
</html>